<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class=""> <!--Responsive con col-->
            <h1>Portfolio responsive</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, non commodi eligendi vel, temporibus facere cumque, soluta possimus at debitis sapiente sed iste rem repellendus nisi hic nobis architecto reiciendis?</p>
        </div>
        <div>
            <img src="../../../assets/proyecto1.png" alt="Imagen proyecto" class="img-fluid">
        </div>
    </div>
</div>
