<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h2>Trabajo 1 (años)</h2><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita id et assumenda aut neque aperiam sapiente est perspiciatis ad, repellendus debitis facere repudiandae atque tempora minus laboriosam. Sit, recusandae aliquid!</p></li>
            <li><h2>Trabajo 2 (años)</h2><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita id et assumenda aut neque aperiam sapiente est perspiciatis ad, repellendus debitis facere repudiandae atque tempora minus laboriosam. Sit, recusandae aliquid!</p></li>
            <li><h2>Trabajo 3 (años)</h2><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita id et assumenda aut neque aperiam sapiente est perspiciatis ad, repellendus debitis facere repudiandae atque tempora minus laboriosam. Sit, recusandae aliquid!</p></li>
            <li><h2>Trabajo 4 (años)</h2><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita id et assumenda aut neque aperiam sapiente est perspiciatis ad, repellendus debitis facere repudiandae atque tempora minus laboriosam. Sit, recusandae aliquid!</p></li>
        </ul>
    </div>
</div>
