<div class="row"> <!--Esta sección es de Aceca De y hay que modificar las rejillas-->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="center" src="../../../assets/FotoPerfil.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Astudillo Agustin Ezequiel {{persona.nombre}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="center">Acerca de mi</h1> <!--Es necesario modificar la descripción-->
            <p>Mi nombre es Agustín Ezequiel Astudillo soy estudiante en Argentina de Ingeniería en Sistemas de Información (UTN). Mi pasión es la tecnología, siempre estoy buscando nuevas formas de aprender y crecer en este campo emocionante. Me gusta experimentar con diferentes tecnologías y construir proyectos para poner en práctica mis habilidades adquiridas. Actualmente me desempeño como desarrollador Front-end, especializado en el diseño y la construcción de sitios web interactivos y amigables. Me gusta estar al día con las últimas tendencias en tecnología y siempre estoy buscando maneras de aplicar esto a mi vida académica y profesional.</p>
        </span>
    </div>
</div>