<div class="row">
    <div>
        <img src="../../../assets/FotoPerfil.jpg" class="img-fluid">
    </div>
    <div>
        <p>Astudillo Agustin Ezequiel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div>
        <span>
            <h1>Acerca de mi</h1>
            <p>Mi nombre es Agustín Ezequiel Astudillo soy estudiante en Argentina de Ingeniería en Sistemas de Información (UTN). Mi pasión es la tecnología, siempre estoy buscando nuevas formas de aprender y crecer en este campo emocionante. Me gusta experimentar con diferentes tecnologías y construir proyectos para poner en práctica mis habilidades adquiridas. Actualmente me desempeño como desarrollador Front-end, especializado en el diseño y la construcción de sitios web interactivos y amigables. Me gusta estar al día con las últimas tendencias en tecnología y siempre estoy buscando maneras de aplicar esto a mi vida académica y profesional.</p>
        </span>
    </div>
</div>